In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/Users/lomesh/Downloads/amazon_dataset/ratings_Books.csv', sep=',', names=["user","item","rating","timestamp"])
nRow, nCol = data.shape
print(f'There are {nRow} rows and {nCol} columns')
data.head(5)

There are 22507155 rows and 4 columns

             user        item  rating   timestamp
0   AH2L9G3DQHHAJ  0000000116     4.0  1019865600
1  A2IIIDRK3PRRZY  0000000116     1.0  1395619200
2  A1TADCM7YWPQ8M  0000000868     4.0  1031702400
3   AWGH7V0BDOJKB  0000013714     4.0  1383177600
4  A3UTQPQPM4TQO0  0000013714     5.0  1374883200

In [3]:
data.iloc[:,1]

0           0000000116
1           0000000116
2           0000000868
3           0000013714
4           0000013714
               ...
22507150    B00M13FNSS
22507151    B00M13FNSS
22507152    B00M13FNSS
22507153    B00M13FNSS
22507154    B00M13FNSS
Name: item, Length: 22507155, dtype: object